.index-body {
	width: 100%;
	min-height: 850px;
	padding-top: 50px;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 50px;
	background-color: rgb(220,220,220);
}
.signin {
	background: #f2f2f2;
}
.regist-form {
	top: 120px;
	background: #fff;
	width: 100%;
	margin-top: 50px;
	padding: 40px;
	box-shadow: 3px 3px 5px gray;
}
.regist-form .title {
	font-weight: bold;
	color: #606060;
}
.form-body{
	padding: 10px 5px 10px 5px;
	width: 100%;
	padding-left: 20px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";  /* For IE 8 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');  /* For IE 5.5 - 7 */
	box-shadow: none;
	border: none;
}
.regist-form a,
.form-body a,
.form-body label {
	margin-left: 10px;
	color: #999999;
	font-weight: normal;
	line-height: 20px;
}
label.error-message,
span.warnning {
	color: #FF0000;
}
.regist-form a:hover,
.regist-form a:focus,
.form-body a:hover,
.form-body a:focus {
	color: #000;
}
.signin-left {
	padding-left: 50px;
	padding-right:50px;
}
.signin-left img {
	width: 100%;
	position: relative;
}
.regist-form .logo {
	padding:20px;
}
#sign-in #submit {
	width: 100%;
}

#AutoComplete{background:#fff;border:1px solid #4190db;display:none;}
#AutoComplete ul{list-style-type:none;margin:0;padding:0;}
#AutoComplete li{color:#333;cursor:pointer;font:12px/22px \5b8b\4f53;text-indent:5px;}
#AutoComplete .hover{background:#6eb6fe;color:#fff;}

#error {
	color: red;
}
.list ul {
	display: inline-block;
}
.list ul>li {
	list-style: outside none none;
	float: left;
	display: block;
}
@media screen and (min-width: 1200px) and (max-width: 1500px){
	.site-menu .menu-left {
		width: 150px;
	}
	.site-menu .menu-left .list-group-item {
		padding-left: 20px;
	}
	.site-container {
		margin-left:170px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
	.masonry .box.w3 {
		width: 800px;
	}
	form .btn {
		width: 90%;
		margin-bottom: 5px;
	}
	.signin-left {
		padding: 10px;
	}
	form .checkbox-inline {
		display: block;
	}
	img.avatar {
	    height: 100%;
	}
	.site-container {
		margin:0 auto;
		max-width: 900px;
		padding-top: 5px;
		padding-left: 5px;
	}
	.list button {
		width: 50%;
	}
	.friends {
		float: right;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px){
	.masonry .box.w2,
	.masonry .box.w3 {
		width: 530px;
	}
	img.avatar {
		height: 100%;
	}
	.activity-detail img.qrcode,
	img#locationmap.modal-map,
	canvas#property {
		width: 150px;
		height: 150px;
	}
	strong#organizationName {
		font-size: 15px;
	}
	.site-container {
		margin:0 auto;
	}
	.list button {
		width: 50%;
	}
	.site-body {
		padding-left: 3%;
		padding-right: 3%;
	}
	.swMain ul.anchor {
		display: none;
	}
}
@media screen and (max-width: 768px) {
	div.go-top {
		left: 80%;
	}
	.regist-form {
		padding: 20px;
	}
	.signin-left {
		padding-left: 20px;
		padding-right:20px;
	}
	.masonry .box,
	.masonry .box.w0,
	.masonry .box.w1,
	.masonry .box.w2,
	.masonry .box.w3,
	.masonry .box.w4{
		width: 270px;
		float: none;
		margin: 15px auto;
		position: static !important;
	}
	.masonry .box .item_head{
		margin: 0 auto;
	}
	.ogn .item_head,
	.person .item_head{
		width: 270px;
	}
	.ogn .item_head img.recommend,
	.person .item_head img.recommend{
		left: -60px !important;
	}
	.ogn .item_head div,
	.person .item_head div{
		right: -60px !important;
	}
	.regist-form {
		top: 0px;
		margin-top: 0px;
	}
	.regist-form .logo {
		width: 100%;
		padding: 0px 0px 10px 0px;
	}
	.regist-form .panel {
		margin-left: 0px;
		padding-left: 0px;
	}
	.site-header {
		height: 90px;
	}
	.site-header .friends,
	.site-header .friends .glyphicon {
		padding: 0px;
	}
	.site-header h1.volq{
		font-size: 30px;
	}
	.site-header h1.volq {
		margin:0;
	}
	.site-header h3.name {
		font-size: 15px;
		margin:0;
        width: 150px;
        height:15px;
	}
	.site-header .roleName,
	.site-header h5.description {
		font-size: 12px;
		margin:0;
        width: 150px;
        height:12px;
	}
	.site-header #avatar {
		width: 60px; 
		height: 60px;
		margin-left: 0px;
		margin-right: 10px;
	}
	.site-header #avatar img.avatar {
		border: 2px solid #fff;
		width: 60px; 
		height: 60px;
		margin: 2px;
		border-radius:50%;
	}
	.site-header #avatar div {
		position: absolute; 
		bottom: 0px;
		right: 0px;
	}
	.site-header #avatar div img.levelPicture {
		width: 10px; 
		height: 10px;
	}
	.site-container {
		margin:0 auto;
	}
	.friends {
		font-size: 16px;
	}
	.container {
		width: 100%;
	}
	.activity-item .status {
		float: none;
	}
	.swMain ul.anchor {
		display: none;
	}
	#currentPath {
		font-size: 15px;
	}
	legend div{
		font-size: 13px;
	}
	.site-menu ul {
		padding-left: 0;
	}
	.site-menu li{
		line-height: 1;
	}
	.site-menu a.menu-item {
	  	font-weight: normal;
	  	font-size: 15px;
	  	line-height: 1;
	  	margin-left: 10px;
	  	margin-right: 10px;
	  	padding-left: 1px;
	  	padding-right: 1px;
	  	padding-bottom: 0px;
	}
	.site-menu a.menu-item:hover,
	.site-menu a.menu-item.active {
		color: #ff0000;
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
	.map {
		width: 250px;
		height: 250px;
		margin: 0 !important;
	}
	.activity-detail img.qrcode {
		margin-left: 50px;
	}
	.site-footer {
		font-size: 10px;
	}
}